@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
	display: none;
}

/* dataTable */
table {
	@apply bg-main-700 !important;
	@apply rounded !important;
	@apply text-main-fontDataTable !important;
}

table thead {
	@apply bg-main-800 !important;
}

table tr td {
	font-size: 0.9rem;
}

#dt-search-0:focus {
	@apply border-main-800 !important;
	box-shadow: none !important;
}

.dt-paging-button:hover {
	@apply bg-slate-200 !important;
}
.dt-paging-button[tabindex='0']:hover {
	background: #aac6bb !important;
	border-color: #aac6bb !important;
}
.dt-paging-button.current {
	@apply bg-main-800 !important;
	border-color: #2d6a4f !important;
}

/* vue-select */
.v-select {
	@apply mt-1;
}
.v-select .vs__dropdown-toggle {
	@apply h-full
    text-base
    border-gray-300
    py-1.5
    focus:border-main-700
    focus:ring-main-700
    rounded-md
    shadow-sm
    !important;
}
